.upperlink{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px var(--primary-2) solid;
  box-shadow: 0px 0px 15px var(--primary);
  animation: cart-appears 1s linear both;
  transition: 0.3s;
}

@keyframes cart-appears {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.upperlink:hover{
  background-color: var(--secondary-2);
  border: 2px var(--secondary-1) solid;
  box-shadow: 0px 0px 15px var(--secondary-1);
  color: black;
}